.videoCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  margin: 1rem 2rem;
  padding: 0.5rem;
  width: 50rem;
  background-color: rgb(250, 247, 247);
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

.videoCard img {
  max-width: 15rem;
}

.videoCard div {
  flex-basis: 50%;
  text-align: center;
}


@media (max-width:500px) {
  .videoCard {
    flex-direction: column;
  }
}